services:
  dapp-starter:
    build: .
    container_name: dapp-starter
    environment:
      PORT: "8000"
      VIRTUAL_HOST: "dapps.usernodelabs.org"
      VIRTUAL_PORT: "8000"
      LETSENCRYPT_HOST: "dapps.usernodelabs.org"
    expose:
      - "8000"
    networks:
      - proxy-network
    restart: unless-stopped

  falling-sands:
    build:
      context: .
      dockerfile: examples/falling-sands/Dockerfile
    container_name: falling-sands
    environment:
      PORT: "3333"
      VIRTUAL_HOST: "sands.usernodelabs.org"
      VIRTUAL_PORT: "3333"
      LETSENCRYPT_HOST: "sands.usernodelabs.org"
    expose:
      - "3333"
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    external: true
