services:
  dapp-starter:
    ports:
      - "8000:8000"
    networks:
      - default
  falling-sands:
    ports:
      - "3333:3333"
    networks:
      - default

networks:
  proxy-network:
    external: false
